[submodule "ansifold"]
	path = ansifold
	url = git@github.com:kaz-utashiro/ansifold.git
[submodule "ansiecho"]
	path = ansiecho
	url = git@github.com:kaz-utashiro/App-ansiecho
[submodule "ansicolumn"]
	path = ansicolumn
	url = git@github.com:kaz-utashiro/App-ansicolumn
[submodule "Fold-Util"]
	path = Fold-Util
	url = git@github.com:kaz-utashiro/Text-ANSI-Fold-Util.git
[submodule "Fold"]
	path = Fold
	url = git@github.com:kaz-utashiro/Text-ANSI-Fold.git
[submodule "ansiexpand"]
	path = ansiexpand
	url = git@github.com:kaz-utashiro/App-ansiexpand.git
