[submodule "ansiecho"]
	path = ansiecho
	url = https://github.com/tecolicom/App-ansiecho.git
[submodule "ansiexpand"]
	path = ansiexpand
	url = https://github.com/tecolicom/App-ansiexpand.git
[submodule "Tabs"]
	path = Tabs
	url = https://github.com/tecolicom/Text-ANSI-Tabs.git
[submodule "Printf"]
	path = Printf
	url = https://github.com/tecolicom/Text-ANSI-Printf.git
[submodule "Term-ANSIColor-Concise"]
	path = Term-ANSIColor-Concise
	url = https://github.com/tecolicom/Term-ANSIColor-Concise.git
[submodule "ansifold"]
	path = ansifold
	url = https://github.com/tecolicom/App-ansifold.git
[submodule "ansicolumn"]
	path = ansicolumn
	url = https://github.com/tecolicom/App-ansicolumn.git
[submodule "Fold"]
	path = Fold
	url = https://github.com/tecolicom/Text-ANSI-Fold.git
[submodule "Fold-Util"]
	path = Fold-Util
	url = https://github.com/tecolicom/Text-ANSI-Fold-Util.git
