[submodule "ansiecho"]
	path = ansiecho
	url = git@github.com:kaz-utashiro/App-ansiecho
[submodule "ansiexpand"]
	path = ansiexpand
	url = git@github.com:kaz-utashiro/App-ansiexpand.git
[submodule "Tabs"]
	path = Tabs
	url = git@github.com:kaz-utashiro/Text-ANSI-Tabs.git
[submodule "Printf"]
	path = Printf
	url = git@github.com:kaz-utashiro/Text-ANSI-Printf.git
[submodule "Term-ANSIColor-Concise"]
	path = Term-ANSIColor-Concise
	url = git@github.com:kaz-utashiro/Term-ANSIColor-Concise.git
[submodule "ansifold"]
	path = ansifold
	url = git@github.com:kaz-utashiro/App-ansifold
[submodule "ansicolumn"]
	path = ansicolumn
	url = https://github.com/tecolicom/App-ansicolumn.git
[submodule "Fold"]
	path = Fold
	url = https://github.com/tecolicom/Text-ANSI-Fold.git
[submodule "Fold-Util"]
	path = Fold-Util
	url = https://github.com/tecolicom/Text-ANSI-Fold-Util.git
